@import "bootstrap-sprockets";

$navbar-border-radius: 0;

@import "bootswatch/paper/variables";
@import "bootstrap";
@import "bootswatch/paper/bootswatch";

@import "devise_bootstrap_views";

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: $brand-primary;
}

.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
}

@media (min-width: $screen-sm-min) {
  .questions-container {
    max-width: 101%; // magic number!
  }
}

.answer {
  border-bottom: 1px solid $panel-default-border;
}

.answer_content {
  @media (min-width: $screen-sm-min) {
    display: flex;
  }
}

.answer__text {
  border-left: 1px solid $gray-lighter;
  border-right: 1px solid $gray-lighter;
}
